<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>勤務実態表(勤務時間入力)</title>
    <!-- Tailwind CSSのCDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	  {% for message in messages %}
		<script class="text-blue-700 font-bold">alert('{{ message }}');</script>
	  {% endfor %}
	{% endif %}
  	{% endwith %}
	<div class="container mx-auto mt-5">
        <h1 class="text-xl font-bold mb-4 ml-5">勤務実態表(勤務時間入力)</h1>
    </div>
	<form action="/edit_report" method="post" id="myForm">
		<div class="ml-5 flex flex-col">
			<label for="monthSelect">作成月:</label>
			<span class="ml-5 w-40 border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded text-center" name="monthSelect" id="monthSelect">{{ monthSelect }}</span>
		</div>
		<div class="ml-5 mt-5 flex flex-col">
			<label for="editfile">編集ファイルを選択:</label>
			{% if files %}
			<select name="editfile" id="editfile" class="ml-5 w-96 border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
				{% for file in files %}
				<option value="{{ file }}" {% if file == selected_file %}selected{% endif %}>{{ file }}</option>
				{% endfor %}
			</select>
			{% endif %}
		</div>

		<div class="ml-5 mt-5 flex flex-col">
			<label for="editfile">作業日報を選択:</label>
			{% if dailyreports %}
				<div>
					<input type="checkbox" id="selectAll"> 全て選択
				</div>
				{% for report in dailyreports %}
				<div>
					<input type="checkbox" name="selected_files" value="{{ report }}" class="fileCheckbox"> {{report }}
				</div>	
				{% endfor %}
			</select>
			{% endif %}
		</div>

		<button type="button" id="submitButton" class="mt-5 ml-20 text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 me-2 mb-2 dark:bg-blue-400 dark:hover:bg-blue-500 focus:outline-none dark:focus:ring-red-800">勤務実態データ作成</button> 
	</form>
<script>
	document.getElementById('submitButton').addEventListener('click', function() {
		// ここに必要な検証や処理を追加
		document.getElementById('myForm').submit(); // フォームを送信
	});
	//チェックBOX一括チェック
	document.getElementById('selectAll').addEventListener('change', function() {
            var checkboxes = document.querySelectorAll('.fileCheckbox');
            for (var checkbox of checkboxes) {
                checkbox.checked = this.checked;
            }
        });

</script>
</body>
</html>